name: First WF
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print something
        run: echo "Hello"
      - name: Say Bye
        run: echo "Done, Bye"
