name: Test Project
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore TestApi.Tests/TestApi.Tests.csproj
      - name: Build solution
        run: dotnet build --no-restore TestApi.Tests/TestApi.Tests.csproj
      - name: Run tests
        run: dotnet test --no-build --verbosity normal TestApi.Tests/TestApi.Tests.csproj
      